"*":
  core:
    disabledPackages: [
      "language-gfm"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "desktop.ini"
      "node_modules"
    ]
    projectHome: "/Users/floris/Werk"
    telemetryConsent: "no"
    titleBar: "custom-inset"
  editor:
    fontSize: 12
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    softWrapAtPreferredLineLength: true
  "exception-reporting":
    userId: "0dbd690d-f488-432d-953d-69c093e63b00"
  "file-icons":
    coloured: false
    onChanges: true
  linter: {}
  "linter-python":
    withPep8: true
  "linter-scss-lint": {}
  "linter-ui-default": {}
  tabs:
    addNewTabsAtEnd: true
    displayMruTabList: false
    enableMruTabSwitching: false
  welcome:
    showOnStartup: false

